{% if  section.settings.custom_image != blank %}
<section>

<div class="custom-image-section">
  {% if section.settings.custom_image != blank %}
    <img src="{{ section.settings.custom_image | img_url: '800x' }}" alt="Custom Image">
  {% endif %}
</div>
</section>
{% endif %}
{% schema %}
{
  "name": "Custom Image Section",
  "settings": [
    {
      "type": "image_picker",
      "label": "Select Image",
      "id": "custom_image",
      "info": "Choose an image for the section."
    }
  ],
  "presets": [
    {
      "name": "Custom Image Section",
      "category": "Custom"
    }
  ]
}
{% endschema %}

<style>
  .custom-image-section {
    text-align: center;
    padding: 25px;
}
</style>
  
