.info-section{
   background-color: #faf7f7;
   padding: 40px 0;
}
.text-content h3{
  font-size: 22px;
  font-family: Karla;
  letter-spacing: 4px;
  font-weight: inherit;
}
.page-width.product-info {
    max-width: 1170px;
}
.text-content p{
  line-height: 22px;
}
.accordion-heading{
  font-size: 14px;
    font-family: Poppins;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-style: none;
    background-color: #c26a72;
  width: 100%;
  text-align: left;
  padding: 10px 15px;;
}


.tab__content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.35s;
}
.tab input:checked ~ .tab__content {
  max-height: 30rem;
}
.tab__content p{
  font-family: Lora;
    font-size: 16px;
    line-height: 28px;
    text-align: justify;
    padding-left: 50px;
    padding-right: 50px;
}
/* Visual styles */

.tab__label,
.tab__close {
  display: flex;
  cursor: pointer;
}
.tab__label {
  justify-content: space-between;
  padding: 1rem;
}
.tab__label::after {
  content: "\276F";
  width: 1em;
  height: 1em;
  text-align: center;
  transform: rotate(90deg);
  transition: all 0.35s;
}
.tab input:checked + .tab__label::after {
  transform: rotate(270deg);
}
.tab__content p {
  margin: 0;
  padding: 1rem;
}
.tab__close {
  justify-content: flex-end;
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
}
.tab input:not(:checked) + .tab__label:hover::after {
  animation: bounce .5s infinite;
}
@keyframes bounce {
  25% {
    transform: rotate(90deg) translate(.25rem);
  }
  75% {
    transform: rotate(90deg) translate(-.25rem);
  }
}
.text-content {
    padding: 0 50px 20px 20px;
}
label.tab__label.accordion-heading:hover{
  background-color: #ebd5d4;
  margin-left: 0;
}











