.image-with-text__grid {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
@media screen and (min-width: 1200px) {
  .image-with-text__grid {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 4rem;
  }
}
@media screen and (min-width: 1200px) {
  .image-with-text__grid {
    gap: 5.6rem;
  }
}
@media screen and (min-width: 1200px) {
  .image-with-text__grid--top {
    align-items: flex-start;
  }
}
@media screen and (min-width: 1200px) {
  .image-with-text__grid--center {
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .image-with-text__grid--bottom {
    align-items: flex-end;
  }
}
@media screen and (min-width: 750px) {
  .image-with-text__grid:not(.image-with-text__grid--reverse) .image-with-text__left--outside {
    margin-left: -6.4rem;
    margin-right: 0;
  }
}
@media screen and (min-width: 750px) {
  .image-with-text__grid:not(.image-with-text__grid--reverse) .image-with-text__left--outside img:first-child,
  .image-with-text__grid:not(.image-with-text__grid--reverse) .image-with-text__left--outside video:first-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
.image-with-text__left {
  flex: auto;
  transition: top var(--duration-default);
  overflow: hidden;
}
@media screen and (min-width: 1200px) {
  .image-with-text__left {
    position: sticky;
    top: 1rem;
  }
}
.image-with-text__left--all-height {
  align-self: stretch;
}
.image-with-text__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
}
@media screen and (min-width: 1200px) {
  .image-with-text__content--medium {
    flex: none;
    max-width: 38%;
  }
}
@media screen and (min-width: 1200px) {
  .image-with-text__content--small {
    flex: none;
    max-width: 30.35%;
  }
}
.image-with-text__media {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 0.8rem;
  overflow: hidden;
}
.image-with-text__media img,
.image-with-text__media video {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 0.4rem;
}
.image-with-text__media img:first-child:not(:last-child),
.image-with-text__media video:first-child:not(:last-child) {
  width: calc(54% - 0.6rem);
}
.image-with-text__media img:last-child:not(:first-child),
.image-with-text__media video:last-child:not(:first-child) {
  width: calc(46% - 0.2rem);
}
@media screen and (min-width: 990px) {
  .image-with-text__media--adapt {
    height: auto;
  }
}
.image-with-text__media--all-height {
  height: 30rem;
}
@media screen and (min-width: 576px) {
  .image-with-text__media--all-height {
    height: 40rem;
  }
}
@media screen and (min-width: 990px) {
  .image-with-text__media--all-height {
    height: 100%;
  }
}
.image-with-text__media--small img {
  height: 35vh;
}
@media screen and (min-width: 990px) {
  .image-with-text__media--small img {
    height: 40.8vh;
  }
}
.image-with-text__media--medium {
  height: 40vh;
}
@media screen and (min-width: 990px) {
  .image-with-text__media--medium {
    height: 55.6vh;
  }
}
.image-with-text__media--large {
  height: 45vh;
}
@media screen and (min-width: 990px) {
  .image-with-text__media--large {
    height: 63vh;
  }
}
.image-with-text__subheading:last-child {
  margin-bottom: 0;
}
.image-with-text__heading {
  margin-top: 0;
  margin-bottom: 1.6rem;
  max-width: 69.4rem;
}
.image-with-text__heading:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 1200px) {
  .image-with-text__heading {
    margin-bottom: 2.4rem;
  }
}
.image-with-text__text {
  max-width: 43rem;
}
@media screen and (min-width: 750px) {
  .image-with-text__text {
    max-width: 47rem;
  }
}
@media screen and (min-width: 1200px) {
  .image-with-text__text {
    max-width: 56rem;
  }
}
.image-with-text__text p {
  margin-top: 0;
}
.image-with-text__text p:last-child {
  margin-bottom: 0;
}
.image-with-text__heading + .image-with-text__button {
  margin-top: 0.8rem;
}
.image-with-text__button {
  margin-top: 2.4rem;
}
@media screen and (min-width: 1200px) {
  .image-with-text__button {
    margin-top: 3.2rem;
  }
}
.image-with-text__button:first-child {
  margin-top: 0;
}
.image-with-text .placeholder-svg {
  width: 100%;
  height: 100%;
  border-radius: 0.4rem;
  overflow: hidden;
}

@media screen and (min-width: 1200px) {
  .image-with-text__grid--reverse {
    flex-direction: row-reverse;
  }
  .image-with-text__grid--reverse .image-with-text__left--outside {
    margin-right: -6.4rem;
    margin-left: 0;
  }
  .image-with-text__grid--reverse .image-with-text__left--outside img:last-child,
  .image-with-text__grid--reverse .image-with-text__left--outside video:last-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}
.image-with-text__media--placeholder {
  background-color: transparent;
  position: relative;
  height: 35rem;
  border-radius: 0.4rem;
  overflow: hidden;
}
@media screen and (min-width: 1360px) {
  .image-with-text__media--placeholder {
    height: 45rem;
  }
}

.image-with-text__content > :first-child:is(.image-with-text__heading) {
  margin-top: 0;
}

.image-with-text__content :last-child:is(.image-with-text__heading) {
  margin-bottom: 0;
}

.shopify-section-header-sticky:not(.shopify-section-header-hidden) ~ main .image-with-text__left {
  top: calc(var(--header-height) + 1rem);
}