.countdown-section > .container .countdown {
  border-radius: 0.4rem;
  overflow: hidden;
}

.countdown {
  display: block;
  padding-top: 3.2rem;
  position: relative;
  z-index: 1;
}
@media (min-width: 1200px) {
  .countdown {
    padding-top: 6.4rem;
  }
}
.countdown__bg, .countdown__placeholder {
  position: absolute;
  inset: 0;
}
.countdown__bg img,
.countdown__bg svg, .countdown__placeholder img,
.countdown__placeholder svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.countdown__bg {
  overflow: hidden;
}
.countdown__placeholder {
  background-color: rgb(var(--color-overlay), 0.7);
}
.countdown__placeholder svg {
  fill: rgb(249, 249, 249);
}
.countdown__video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}
.countdown__video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.countdown__bg-overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
}
.countdown__wrapper {
  position: relative;
  z-index: 2;
}
.countdown__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  text-align: left;
}
.countdown__heading {
  margin: 0;
  color: rgb(var(--color-foreground-title));
}
.countdown .subtitle {
  color: rgba(var(--color-foreground), 0.7);
}
.countdown__text {
  margin-top: 2.4rem;
  max-width: 40.8rem;
  color: rgb(var(--color-foreground));
}
.countdown__button {
  min-width: 12.4rem;
  margin-top: 2.4rem;
}
@media (min-width: 1200px) {
  .countdown__button {
    margin-top: 3.2rem;
  }
}
.countdown__header {
  margin: 0 0 2.4rem;
}
@media (min-width: 750px) {
  .countdown__header {
    margin: 0 0 4.8rem;
  }
}
.countdown__main {
  position: relative;
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 3.2rem;
  border-top: 0.1rem solid rgb(var(--color-border));
  z-index: 3;
}
@media (min-width: 1200px) {
  .countdown__main {
    margin-top: 4.8rem;
  }
}
.countdown__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  min-height: 10rem;
  padding: 1rem;
}
@media (min-width: 576px) {
  .countdown__block {
    min-height: 15rem;
  }
}
@media (min-width: 1200px) {
  .countdown__block {
    padding: 2rem 1rem;
    min-height: 25.2rem;
  }
}
.countdown__block + .countdown__block {
  border-left: 0.1rem solid rgb(var(--color-border));
}
.countdown__block_num {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 0.5rem;
  white-space: nowrap;
}
@media (min-width: 750px) {
  .countdown__block_num {
    flex-direction: row;
    gap: 1.2rem;
    padding: 1rem 3rem;
  }
}
@media (min-width: 1200px) {
  .countdown__block_num {
    padding: 5.8rem 5rem;
  }
}
@media screen and (max-width: 750px) {
  .countdown__block_num span:last-child {
    font-size: 1.6rem;
  }
}
.countdown .countdown_block_days,
.countdown .countdown_block_hours,
.countdown .countdown_block_minutes,
.countdown .countdown_block_seconds {
  margin: 0;
  font-feature-settings: "tnum" on, "lnum" on;
  color: rgb(var(--color-foreground-title));
}
.countdown .countdown_block_description {
  margin: 0.2rem 0 0;
  font-size: 1rem;
  letter-spacing: -0.02em;
  color: rgb(var(--color-foreground-title));
}
@media (min-width: 576px) {
  .countdown .countdown_block_description {
    margin: 0.8rem 0 0;
    font-size: 1.3rem;
  }
}
.countdown__header-title {
  margin: 0;
}
.countdown__end-info {
  position: relative;
  display: none;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  margin: 0 auto;
  margin-top: 3.2rem;
  padding: 4rem 2rem;
  min-height: 10rem;
  width: 100%;
  text-align: left;
  border-top: 0.1rem solid rgb(var(--color-border));
  z-index: 3;
}
@media (min-width: 1200px) {
  .countdown__end-info {
    margin-top: 4.8rem;
    width: auto;
    text-align: center;
  }
}
.countdown__end-info h3,
.countdown__end-info p {
  margin: 0;
  color: rgb(var(--color-foreground-title));
}
.countdown__end-info h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100%;
}
.countdown .italic {
  font-style: italic;
  position: relative;
  font-feature-settings: "tnum" on, "lnum" on;
}
.countdown--overlay .countdown_block_days,
.countdown--overlay .countdown_block_hours,
.countdown--overlay .countdown_block_minutes,
.countdown--overlay .countdown_block_seconds {
  color: rgb(249, 249, 249);
}
.countdown--overlay .countdown_block_description {
  color: rgb(249, 249, 249);
}
.countdown--overlay .countdown__content {
  padding: 0;
  background-color: transparent;
}
@media (min-width: 1200px) {
  .countdown--overlay .countdown__content {
    max-width: 63.5rem;
  }
}
.countdown--overlay .countdown__main {
  border-color: rgba(249, 249, 249, 0.4);
}
.countdown--overlay .countdown__block {
  flex-grow: unset;
  border-color: rgba(249, 249, 249, 0.4);
}
@media (min-width: 1200px) {
  .countdown--overlay .countdown__block {
    min-height: 20rem;
  }
}
.countdown--overlay .countdown__block_num {
  padding: 0;
}
.countdown--overlay .countdown__heading {
  color: rgb(249, 249, 249);
}
.countdown--overlay .countdown__text {
  color: rgb(249, 249, 249);
}
.countdown--overlay .countdown__end-info {
  border-color: rgba(249, 249, 249, 0.4);
}
.countdown--overlay .countdown__end-info h3,
.countdown--overlay .countdown__end-info p,
.countdown--overlay .countdown__end-info a {
  color: rgb(249, 249, 249);
}