.twp .titles .subtitle:only-child {
  margin-bottom: 0.8rem;
}
@media screen and (min-width: 750px) {
  .twp .titles .subtitle:only-child {
    margin-bottom: 1.6rem;
  }
}
@media screen and (min-width: 1200px) {
  .twp .titles .subtitle:only-child {
    margin-bottom: 1.6rem;
  }
}
.twp .titles .heading {
  margin-bottom: 0.8rem;
}
@media screen and (min-width: 750px) {
  .twp .titles .heading {
    margin-bottom: 1.6rem;
  }
}
@media screen and (min-width: 1200px) {
  .twp .titles .heading {
    margin-bottom: 2.4rem;
  }
}
.twp__tabs {
  position: relative;
  padding-bottom: 0.1rem;
}
.twp__tabs::after {
  content: "";
  display: block;
  width: 100%;
  height: 0.1rem;
  background-color: rgb(var(--color-border));
  position: absolute;
  bottom: 0.05rem;
  left: 0;
}
.twp__tabs:not(.swiper-initialized) .twp__tabs-item, .twp__tabs:not(.swiper-initialized) .twp__nav {
  opacity: 0;
}
.twp__tabs .swiper-wrapper {
  align-items: flex-end;
}
.twp__tabs-item {
  width: auto;
  margin: 0 0 -0.1rem;
  padding: 1.6rem 0;
  cursor: pointer;
  color: rgba(var(--color-foreground), 0.5);
  transition: var(--duration-default);
  user-select: none;
}
@media (min-width: 990px) {
  .twp__tabs-item {
    padding: 3.2rem 0;
  }
}
.twp__tabs-item.js-hidden {
  pointer-events: none;
}
.twp__tabs-item.js-hidden::after {
  display: none;
}
.twp__tabs-item::after {
  height: 0.2rem;
}
.twp__tabs-item:hover {
  color: rgb(var(--color-foreground-title));
}
.twp__tabs-item:hover::after {
  width: 100%;
}
.twp__tabs-item[data-active] {
  color: rgb(var(--color-foreground-title));
}
.twp__tabs-item[data-active]::after {
  width: 100%;
}
.twp__nav {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
}
.twp__prev, .twp__next {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 4rem;
  max-width: 4rem;
  height: 4rem;
  background-color: rgb(var(--color-background));
  pointer-events: auto;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
@media (min-width: 750px) {
  .twp__prev, .twp__next {
    min-width: 5.2rem;
    max-width: 5.2rem;
    height: 5.2rem;
  }
}
.twp__prev.swiper-button-disabled, .twp__next.swiper-button-disabled {
  display: none;
}
.twp__prev svg, .twp__next svg {
  width: 3rem;
  height: 3rem;
  transition: var(--duration-default);
}
.twp__prev {
  left: 0;
}
.twp__prev svg {
  transform: rotate(180deg);
}
.twp__next {
  right: 0;
}
.twp__content {
  margin-top: 2.4rem;
}
@media (min-width: 990px) {
  .twp__content {
    margin-top: 4.8rem;
  }
}
.twp__content-item {
  display: none;
  justify-content: flex-start;
  align-items: flex-end;
  min-height: 28rem;
  padding: 1.6rem;
  border-radius: var(--border-radius-button);
  overflow: hidden;
  position: relative;
}
@media (max-width: 1199px) and (orientation: landscape) {
  .twp__content-item {
    min-height: 35rem;
  }
}
@media (min-width: 990px) {
  .twp__content-item {
    padding: 3.2rem;
    min-height: calc(100vh - 20rem);
  }
}
.twp__image, .twp__video {
  position: absolute;
  inset: 0;
}
.twp__image img {
  width: 100%;
  height: 100%;
}
.twp__image svg {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  fill: rgb(var(--color-foreground));
  border: 0.1rem solid rgb(var(--color-border));
  border-radius: var(--border-radius-button);
  overflow: hidden;
}
.twp__video {
  pointer-events: none;
}
.twp__video video,
.twp__video iframe {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.twp__inner {
  max-width: 32rem;
  width: 100%;
  position: relative;
}
@media (min-width: 750px) {
  .twp__inner {
    max-width: 46rem;
  }
}
.twp__inner .placeholder-svg {
  border-radius: 0.4rem;
}
.twp__inner-scroll-wrapper {
  display: none;
  width: 100%;
  max-height: 15rem;
  height: auto;
  padding: 1rem 1rem 0;
  border-radius: var(--border-radius-button);
  background-color: rgb(var(--color-background));
  overflow-y: auto;
}
.twp__inner-scroll-wrapper::-webkit-scrollbar {
  width: 0.4rem;
}
.twp__inner-scroll-wrapper::-webkit-scrollbar-thumb {
  background-color: rgb(var(--color-border));
  border-radius: 2rem;
}
@media (min-width: 990px) {
  .twp__inner-scroll-wrapper {
    padding: 3.2rem 0.8rem 0 3.2rem;
    max-height: calc(100vh - 30rem - 6.4rem - 5.6rem - 2rem);
  }
}
@media (min-width: 1360px) {
  .twp__inner-scroll-wrapper {
    max-height: calc(85vh - 30rem - 6.4rem - 5.6rem - 2rem);
  }
}
.twp__toggle {
  justify-content: flex-start;
  gap: 0.8rem;
  padding: 0 1.8rem;
  margin-top: 1rem;
  min-width: 5.6rem;
  max-width: 5.6rem;
  transition: max-width 0.6s ease-in-out;
}
@media (min-width: 990px) {
  .twp__toggle {
    margin-top: 1.2rem;
  }
}
.twp__toggle span {
  display: inline-block;
  opacity: 0;
  white-space: nowrap;
  overflow: hidden;
  transition: all 0.2s 0.2s;
}
@media screen and (min-width: 1200px) {
  .twp__toggle:hover, .twp__toggle:focus {
    max-width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .twp__toggle:hover span, .twp__toggle:focus span {
    opacity: 1;
  }
}
.twp__toggle svg {
  display: block !important;
  min-width: 2rem;
  max-width: 2rem;
  height: 2rem;
}
.twp__product-list {
  height: 100%;
  padding-bottom: 1.6rem;
  overflow-y: auto;
}
.twp__product-list::-webkit-scrollbar {
  width: 0.6rem;
}
.twp__product-list::-webkit-scrollbar-thumb {
  width: 0.6rem;
  border-radius: 2rem;
  background-color: rgb(var(--color-border));
}
@media screen and (min-width: 990px) {
  .twp__product-list {
    padding-right: 2.4rem;
    padding-bottom: 3.2rem;
  }
}
.twp__product-list-item {
  display: block;
}
.twp__product-list-item .card-horizontal-wrapper .badge--custom {
  display: none;
}
.twp__product-list-item:not(:last-child) {
  border-bottom: 0.1rem solid rgb(var(--color-border));
}
.twp__product-list-item:not(:last-child) .card-horizontal-wrapper {
  padding-bottom: 0.8rem;
}
@media (min-width: 750px) {
  .twp__product-list-item:not(:last-child) .card-horizontal-wrapper {
    padding-bottom: 2.4rem;
  }
}
.twp__product-list-item:not(:first-child) .card-horizontal-wrapper {
  padding-top: 0.8rem;
}
@media (min-width: 990px) {
  .twp__product-list-item:not(:first-child) .card-horizontal-wrapper {
    padding-top: 2.4rem;
  }
}
.twp__product-list-item--ph .card {
  width: 5.6rem;
}
.twp__product-list-item--ph .card__information-top {
  display: none;
}
.twp__product-list-item--ph .card__title {
  font-size: 1.6rem;
}
@media screen and (min-width: 1600px) {
  .twp__product-list-item--ph .card__title {
    font-size: 1.8rem;
  }
}
.twp__product-list-item--ph .card-wrapper {
  display: flex;
  gap: 1.6rem 0;
}
.twp__product-list-item--ph .card-information {
  padding: 0 1.6rem;
}
.twp__product-list-item--ph .card-information__group {
  flex-direction: column;
  column-gap: unset;
  gap: 0.8rem;
}
.twp .card-horizontal__parameters {
  margin-top: 0.5rem !important;
}
.twp .card-horizontal__title {
  font-size: 1.5rem;
  margin-top: 0.3rem;
}
.twp .card-horizontal__title a {
  font-size: 1.5rem;
  background-position-y: 100%;
}
@media screen and (min-width: 990px) {
  .twp .card-horizontal__title a {
    font-size: calc(var(--font-heading-card-scale) * 1rem);
  }
}
.twp .card-horizontal__bottom .price {
  font-size: 1.3rem;
}
@media (min-width: 1600px) {
  .twp .card-horizontal__bottom .price {
    font-size: 1.4rem;
  }
}

.no-js .twp__content-item.no-js-flex {
  margin-bottom: 5rem;
}
.no-js .twp__content-item.no-js-flex .twt__image-wrapper {
  margin-top: 0;
}