.carousel {
  --opacity-slide: 0.2;
  --opacity-slide-hover: 0.3;
  --padding-bottom: 130%;
  overflow: hidden;
}
.carousel__wrapper {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 2.4rem;
}
@media screen and (min-width: 750px) {
  .carousel__wrapper {
    gap: 3.2rem;
  }
}
@media screen and (min-width: 1200px) {
  .carousel__wrapper {
    gap: 4.8rem;
  }
}
@media screen and (min-width: 1200px) {
  .carousel__wrapper_no-heading {
    gap: 4rem;
  }
}
.carousel__subtitle {
  margin: 0;
}
.carousel__subtitle + .carousel__wrapper {
  margin-top: 1rem;
}
.carousel__title {
  margin: 0;
}
.carousel__button {
  grid-row: 2;
  grid-column: span 2;
}
@media screen and (min-width: 576px) {
  .carousel__button {
    grid-row: unset;
    grid-column: 2;
    margin-left: auto;
  }
}
@media screen and (max-width: 575px) {
  .carousel__top + .carousel__button {
    grid-row: 3;
  }
}
.carousel__content {
  grid-column: span 2;
}
.carousel__slider {
  position: relative;
}
@media screen and (min-width: 576px) {
  .carousel__slider {
    overflow: visible;
  }
}
.carousel__slider .swiper-wrapper {
  padding-bottom: 6.4rem;
}
@media screen and (min-width: 576px) {
  .carousel__slider .swiper-wrapper {
    padding-bottom: 0;
  }
}
.carousel__slider:not(.swiper-initialized) .swiper-wrapper {
  display: flex;
  gap: 0.8rem;
}
@media screen and (min-width: 576px) {
  .carousel__slider:not(.swiper-initialized) .swiper-wrapper .carousel__slide--5 {
    width: calc(50% - 0.4rem);
  }
}
@media screen and (min-width: 990px) {
  .carousel__slider:not(.swiper-initialized) .swiper-wrapper .carousel__slide--5 {
    width: calc(33.3333333333% - 1.2rem);
  }
}
@media screen and (min-width: 1200px) {
  .carousel__slider:not(.swiper-initialized) .swiper-wrapper .carousel__slide--5 {
    width: calc(25% - 1.0666666667rem);
  }
}
@media screen and (min-width: 1360px) {
  .carousel__slider:not(.swiper-initialized) .swiper-wrapper .carousel__slide--5 {
    width: calc(20% - 1rem);
  }
}
@media screen and (min-width: 576px) {
  .carousel__slider:not(.swiper-initialized) .swiper-wrapper .carousel__slide--4 {
    width: calc(50% - 0.4rem);
  }
}
@media screen and (min-width: 990px) {
  .carousel__slider:not(.swiper-initialized) .swiper-wrapper .carousel__slide--4 {
    width: calc(33.3333333333% - 1.2rem);
  }
}
@media screen and (min-width: 1360px) {
  .carousel__slider:not(.swiper-initialized) .swiper-wrapper .carousel__slide--4 {
    width: calc(25% - 1.0666666667rem);
  }
}
@media screen and (min-width: 576px) {
  .carousel__slider:not(.swiper-initialized) .swiper-wrapper .carousel__slide--3 {
    width: calc(50% - 0.4rem);
  }
}
@media screen and (min-width: 990px) {
  .carousel__slider:not(.swiper-initialized) .swiper-wrapper .carousel__slide--3 {
    width: calc(33.3333333333% - 1.2rem);
  }
}
@media screen and (min-width: 576px) {
  .carousel__slider:not(.swiper-initialized) .swiper-wrapper .carousel__slide--2 {
    width: calc(50% - 0.4rem);
  }
}
.carousel__slider-nav {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: flex;
  column-gap: 1.6rem;
  justify-content: space-between;
  pointer-events: none;
}
.carousel__slider-nav .swiper-button-prev, .carousel__slider-nav .swiper-button-next {
  pointer-events: all;
}
@media screen and (min-width: 576px) {
  .carousel__slider-nav {
    top: 50%;
    bottom: auto;
    left: 1.5rem;
    right: 1.5rem;
    transform: translateY(-50%);
  }
  .carousel__slider-nav .swiper-button-prev {
    transform: translateX(-50%);
  }
  .carousel__slider-nav .swiper-button-next {
    transform: translateX(50%);
  }
}
@media screen and (min-width: 1200px) {
  .carousel__slider-nav {
    left: -0.4rem;
    right: -0.4rem;
    width: calc(100% + 0.8rem);
  }
}
.carousel__slider-nav .swiper-button-disabled {
  opacity: 0.2;
  pointer-events: none;
}
@media screen and (min-width: 576px) {
  .carousel__slider-nav .swiper-button-disabled {
    opacity: 0;
  }
}
.carousel__slide {
  position: relative;
  display: flex;
  height: auto;
  border-radius: 0.4rem;
  overflow: hidden;
}
.carousel__slide::before {
  content: "";
  display: block;
  padding-bottom: var(--padding-bottom);
}
.carousel__slide-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 3.2rem;
}
.carousel__slide-image {
  position: absolute;
  inset: 0;
}
.carousel__slide-image img, .carousel__slide-image video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.carousel__slide-image::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: rgba(var(--color-overlay), var(--opacity-slide));
  transition: background-color var(--duration-default);
}
.carousel__slide-title {
  position: relative;
  z-index: 1;
  margin: 0;
}
.carousel__slide--light * {
  color: rgb(var(--color-foreground-secondary));
}
.carousel__slide:hover .carousel__slide-image::before {
  background-color: rgba(var(--color-overlay), var(--opacity-slide-hover));
}

.no-js .carousel__slider .swiper-wrapper {
  overflow-x: auto;
}